.button-class {
    background-color: #da8aee;
    border: none;
    color: white;
    padding: 16px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #da8aee;;
    color: black;
    border: 2px solid #da8aee;
  }

  ul {
    list-style-type: none;
    text-align: center;
    display: grid;
}


#modal-container.is-visible {
  display: none;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  z-index: 999; 
  
  overflow: auto; 

  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 60%;
  text-align: left;

}

@media only screen and (max-width: 600px) {
  .modal {
    max-width: 100%;
  }
}

.title {
  text-align: center;
}


img.resize {
  max-width: 100%; 
  height: auto;
}